body {

}

table {
  background-color: yellow;
}

.box {
  color: white;
  background-color: black;
  padding: 8px;
  display: inline-block;
}

.middle {
  display: block;
  margin: 0 auto;
  width: fit-content;
}
  



