body {

}

table {
  background-color: yellow;
}

.box {
  color: white;
  background-color: black;
  padding: 8px;
  display: inline-block;
  margin: 20x auto;
  text-align: center;
}
  




