body {
}

/* Determines how table looks  */
table {
    background-color: #FCDB03;
    text-align: left;
    border: 1.5px solid black; /* Controls thickness of table outer border lines */
    border-collapse: collapse;
}

/* Helps with border colors and padding in cells*/
th, td {
    border: 1.5px solid black; /* Controls thickness of table inner border lines */
    padding: 4px;
}

/* Black box parameters */
.box {
    color: white;
    background-color: black;
    padding: 0px 20px;
    display: inline-block;
    margin: 20px auto;
    text-align: center;
}
/* The following two .box are for changing spacing between text in black box*/
.box h1 {
    margin-top: 0;
    margin-bottom: 24px;
}

.box h3 {
    margin-top: 0;
    margin-bottom: 8px;
}


















